# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.iml

# macOS
.DS_Store
**/macos/Pods/
**/macos/build/
**/.symlinks/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
.env
.env.local

# DMG packaging
Simple Term*.dmg
